# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/

# Dataset & model outputs
data/
runs/
videos/
*.pt
*.onnx
*.mp4
*.avi

# Specific YOLO models to ignore
yolo11n.pt
yolov8n.pt

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env & secrets
.env
